body{
    font-family:"Bebas Neue";
    background-color: #E8BE51;
    color:#596269;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Chakra Petch";
}

h1{
    font-size:40pt;

}

h2 {
    margin: 0.1em;
}

h2{
    text-align: center;
}

header{
    text-align: center;
}

/* Hero Section */

#hero, footer{
    color:#696459;
    border:3px solid #E89351;
    background-color:#51A7E8;
    text-align:center;
    padding:10px;
}

#hero img{
    width:300px
}

/* Bio Section */

#bio{
    text-align:center;
}

/* Hobbies Section*/

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(even){
    color:#6B66ED;
    list-style-type: square;
}

#hobbies ul li:nth-child(odd){
    color:#ED6F66;
    list-style-type: square;
}


/* Gallery Section */

#gallery{
    margin-bottom:2rem;
    border:3px solid #E89351;
}

#gallery img{
    max-width:100%
}

#gallery figure{
    text-align:center;
}


/* Literature */

#lit{
    text-align:center;
    border:3px solid #E89351;
    margin-bottom:2rem;
}

#lit div{
    padding:2rem;
    max-width:40rem;
    margin:0 auto;
}

#lit div p{
    padding:0.1rem 0;
    clear:both;
    text-align:justify;
}

#lit div p:first-of-type:first-letter{
    color:#6B66ED;
    font-weight:bold;
    background-image:radial-gradient(#292828,#ac51e8);
    float:left;
    font-size:3em;
    padding:.25em;
    margin-right:.25em;
    line-height:.65;
    border:4px outset #6B66ED;
    font-family:"Chakra Petch";
    text-shadow:2px 2px 2px rgba(0,0,0,.5);
    box-shadow:4px 4px 4px rgba(0,0,0,.5);
    border-top-left-radius: .3em;
    border-bottom-right-radius: .3em;
}

/* Tablet Size */

@media screen and (min-width: 60em){

    figure{
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        margin-left: 1rem;
    }

    figure img{
        width:100%;
    }

    #lit div{
        max-width:120%;
        columns:20rem;
    }

}

/* Large Screen size */

@media screen and (min-width:100em){

    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }

    #gallery h2{
        grid-column: 1/-1;
    }

    figure{
        display: block;
    }

}

#video iframe{
    max-width: 560px;
    width: 100%;
    display: block;
    margin: auto;
    background-image:radial-gradient(#292828,#ac51e8);
    padding:.10em;
    line-height:.65;
    border:4px outset #6B66ED;
}
    
/* Contact Form */

#formElements{
    display:grid;
    row-gap:.5em;
}

#contact{
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset{
    border:3px solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend{
    background-color: #6B66ED;
    color:white;
    padding:.5em;
}

#contact input, #contact textarea, #contact select, #contact button{
    padding:.5em;
    font-size:1rem;
}

#contact ul{
    list-style: none;
    padding:0px;
}

#contact li{
    margin:1rem;
}

#contact button{
    background-color: #6B66ED;
    color:white;
    border:2px solid #6d059d;
    max-width: 300px;
    width:50%;
    justify-self:center;
}