body{
    font-family:"Bebas Neue";
    background-color: #E8BE51;
    color:#596269;
}

h1, h2, h3, h4, h5, h6{
    font-family:"Chakra Petch";
}

h1{
    font-size:40pt;

}

header{
    text-align: center;
}

/* Hero Section */

#hero, footer{
    color:#696459;
    border:3px solid #E89351;
    background-color:#51A7E8;
    text-align:center;
    padding:10px;
}

#hero img{
    width:300px
}

/* Bio Section */

#bio{
    text-align:center;
}

/* Hobbies Section*/

#hobbies ul li:nth-child(even){
    color:#6B66ED;
    list-style-type: square;
}

#hobbies ul li:nth-child(odd){
    color:#ED6F66;
}

/* Gallery Section */

#gallery{
    border:3px solid #E89351
}

#gallery img{
    max-width:100%
}

#gallery figure{
    text-align:center;
}